
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/appsettings.Development.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/appsettings.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/Newtonsoft.Json.Schema.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/appsettings.Development.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/appsettings.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/Newtonsoft.Json.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/Newtonsoft.Json.Schema.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/web.config
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/css/site.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/favicon.ico
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/js/site.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/bootstrap/LICENSE
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation/dist/additional-methods.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery-validation/LICENSE.md
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery/dist/jquery.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery/dist/jquery.min.js
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery/dist/jquery.min.map
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/wwwroot/lib/jquery/LICENSE.txt
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.deps.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.exe
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.pdb
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.runtimeconfig.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.Views.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.Views.pdb
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/publish/xAPIReceiver.zip
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/web.config
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.deps.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.exe
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.pdb
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.runtimeconfig.dev.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.runtimeconfig.json
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.Views.dll
xAPIReciever/xAPIReceiver/bin/Release/netcoreapp3.1/xAPIReceiver.Views.pdb
xAPIReciever/xAPIReceiver/obj/Debug/netcoreapp3.1/xAPIReceiver.csprojAssemblyReference.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/apphost.exe
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PublishOutputs.68f0c20beb.txt
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.Development.json
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.json
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/Newtonsoft.Json.dll
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/Newtonsoft.Json.Schema.dll
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/web.config
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/css/site.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/favicon.ico
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/site.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/bootstrap/LICENSE
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery-validation/LICENSE.md
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.js
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.map
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/jquery/LICENSE.txt
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.deps.json
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.dll
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.exe
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.pdb
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.runtimeconfig.json
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.Views.dll
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/PubTmp/Out/xAPIReceiver.Views.pdb
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/staticwebassets/xAPIReceiver.StaticWebAssets.Manifest.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/staticwebassets/xAPIReceiver.StaticWebAssets.xml
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.assets.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.csproj.CopyComplete
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.csproj.CoreCompileInputs.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.csproj.FileListAbsolute.txt
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.csprojAssemblyReference.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.dll
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.genruntimeconfig.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.MvcApplicationPartsAssemblyInfo.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.pdb
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.RazorCoreGenerate.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.RazorTargetAssemblyInfo.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.RazorTargetAssemblyInfo.cs
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.TagHelpers.input.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.TagHelpers.output.cache
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.Views.dll
xAPIReciever/xAPIReceiver/obj/Release/netcoreapp3.1/xAPIReceiver.Views.pdb
xAPIReciever/xAPIReceiver/Properties/PublishProfiles/FolderProfile.pubxml
xAPIReciever/xAPIReceiver/Properties/PublishProfiles/FolderProfile.pubxml.user
