@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ELRR xAPI Receiver</h1>
    <textarea id="TextArea1" rows="200" cols="100" class="text-wrap" ></textarea>
</div>
