@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ELRR xAPI Receiver</h1>
    <p><strong>Send data now</strong></p>
    <p>data written to log file in local C:\Text folder</p>

</div>
